body
{
	padding:0;
	margin:0;
	background-color: black;
}

#win-lost
{
	position:absolute;
	top:50px;
	left:270px;
}

#heading
{
	color: white;
}
#main
{

	position:relative;
	margin:auto;
	width:600px;
	height:350px;
	padding:0;
	border:1px solid white;

}
#user
{
	width:100px;
	height:auto;
	position:absolute;
	left:0px;
	top:50px;
	margin-left:3px; 
}
#bot
{
	width:100px;
	height:auto;
	position: absolute;
	right:0px;
	top:50px;
	margin-right:8px;

}

#choice
{
	position:absolute;
	list-style: none;
	bottom:5px;
	left:130px;
	
}

#choice li
{
	display: inline;
	margin-right:50px;
}

#choice img
{
	width:50px;
	height:auto;
}

#scissor,#paper,#rock
{
	-webkit-transform:rotate(45deg);
}

#user_score
{
	
	position:absolute;
	left:30px;
	top:150px;
	list-style:none;
}
#user_score li,#bot_score li
{
	display: inline;
	
}

#user_score img,#bot_score img
{
	width:20px;
	height:auto;

}

#bot_score
{
	
	position:absolute;
	right:40px;
	top:150px;
	list-style:none;
}

#user_choice
{
	position:absolute;
	left:130px;
	top:80px;
	width:50px;
	height:auto;
	-webkit-transform:rotate(45deg);
}

#bot_choice
{
	position:absolute;
	right:140px;
	top:80px;
	width:50px;
	height:auto;
	
	-webkit-transform:scaleX(-1) rotate(45deg);
}

#startbt
{
	position:absolute;
	top:200px;
	left:250px;
	width:100px;
	height: 30px;
	outline:none;
	color:white;
	background-color:green;
	border-style: none;
}
#restart
{
	position:absolute;
	top:200px;
	left:250px;
	width:100px;
	height: 30px;
	outline:none;
	color:white;
	background-color:green;
	border-style: none;

}



#initial
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.9;
	z-index:1; 
}
#user_name
{

	position:relative;
	margin:auto;
	z-index: 1;
	color:white;
	width:200px;
	height:110px;
	bottom:300px;
	
}
#player_name
{
	position: absolute;
	width:300px;
	height:30px;
	color: white;
	background-color: black;
	outline: none;
	border-style: none;
	text-align: center;
	border:1px solid white;
}

#gamebt
{
	position: absolute;
	bottom:0px;
	left:120px;
	width:50px;
	border-style:none;
	outline:none;
	height:30px;
	background-color: green;
	color:white;


}

#pname
{
	color:white;
	position: absolute;
	left:35px;
	top:5px;

}
#bname
{
	color:white;
	position: absolute;
	right:35px;
	top:5px;
}

#maleop
{
	position: absolute;
	left:50px;
	bottom:45px;
	
}
#femaleop
{
	position: absolute;
	left:150px;
	bottom:45px;

}
#g1
{
	position: absolute;
	left:80px;
	bottom:23px
}

#g2
{
	position: absolute;
	left:175px;
	bottom:23px;
}


@media only screen and (max-width:750px)
{
	
	

	#main
	{
		position:absolute;
		left:0px;
		height:280px;
		
	}
	#user_name
	{
		position:relative;
		top:0px;
		left:-50px;
	}
	#user
	{
		left:100px;
		width:80px;
			

	}
	#bot
	{
		right:100px;
		width:80px;

	}
	#pname
	{
		left:120px;
	}
	#bname
	{
		right:130px;
	}

	#user_choice
	{
		left:200px;
		width:40px;

	}
	#bot_choice
	{
		right:200px;
		width:40px;
	}

	#win-lost
	{
		width:50px;
		left:275px;
	}
	#choice
	{
		left:140px;

	}
	#startbt,#restart
	{
		top:150px;
	}
	#choice img
	{
		width:40px;

	}
	#user_score
	{
		left:80px;
	}
	#bot_score
	{
		right:110px;
	}
	

}
